{% extends 'admin/base.html.twig' %}
{% block title "Recruiter" %}

{% block body_title "Gestion des Recruiter" %}

{% block body %}
    <div class="dark-card shadow rounded-lg border dark-border">
        
        <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-dark-border">
                <thead class="bg-dark-bg">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-text-secondary uppercase tracking-wider">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-text-secondary uppercase tracking-wider">
                        specialisation
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-text-secondary uppercase tracking-wider">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-text-secondary uppercase tracking-wider">
                        phone
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-text-secondary uppercase tracking-wider">
                        Dat de creation
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-dark-border">
                {% for recruteur in recruiters %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-text-primary">
                            {{ recruteur.name }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-text-primary">
                            {{ recruteur.speciality }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-text-primary">
                            {{ recruteur.email }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-text-primary">
                            {{ recruteur.phone }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-text-primary">
                            {{ recruteur.created_at }}
                        </td>
                       

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}